---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 not found" description="Resource not found">
  <div class="flex flex-col items-center justify-center h-[60vh]">
    <h1 class="text-4xl font-bold">404 not found</h1>
    <p class="text-gray-600">The page you are looking for does not exist.</p>
  </div>
</Layout>