---
import Layout from "../layouts/Layout.astro";
import { SUPPORT_EMAIL } from "../consts";
---

<Layout 
  title="Contact Us" 
  description="Contact Us">

  <main class="max-w-4xl mx-auto py-12 px-4">
    <section class="space-y-8">
      <div class="space-y-8">
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">
            Need help? We're here for you!
          </h2>
          <p class="text-lg">
            Your input is invaluable to us as we continuously work to elevate our offerings. 
            Whether you have queries, feedback, or innovative thoughts on how we can refine 
            our platform, we're all ears. Don't hesitate to get in touch with us at{' '}
            <span class="font-semibold text-blue-500">{SUPPORT_EMAIL}</span>. Our responsive support 
            team is committed to addressing your concerns promptly and efficiently.
          </p>
        </div>

        <div class="mt-12">
          <h2 class="text-2xl font-semibold mb-6 text-center">
            Business Hours
          </h2>
          <div class="max-w-md mx-auto space-y-4">
            <div class="flex justify-between items-center">
              <span class="font-medium">Monday ~ Friday:</span>
              <span>9:00 AM - 5:00 PM (EST)</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="font-medium">Saturday ~ Sunday:</span>
              <span>Closed</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</Layout>